<!DOCTYPE html>

<html>
    
<head>
    <title>Weather</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/style.css'>
   
</head>

    <body>

        <div class='main-content'>
            {{>header}}
            <p>Get your current weather here.</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
       
        <p id='m1'></p>
        <p id='m2'></p>

        <iframe src="https://giphy.com/embed/26BGDQxDCZDFHW5Ne" width="200px" style="position:absolute" frameBorder="0" class="giphy-embed"></iframe><p><a href="https://giphy.com/gifs/animation-loop-sun-26BGDQxDCZDFHW5Ne"></a></p>

         </div>
        {{>footer}}

         <script src='/js/ap.js'></script>
    </body>

</html>